<% layout("./layouts/boilerplate") -%>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <div class="card register-card">
      <div class="card-body">
        <h2 class="card-title text-center mb-3">Login</h2>
        <form action="/login" method="POST">
          <div class="mb-3">
            <input
              type="text"
              name="username"
              required
              class="form-control"
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              name="password"
              required
              class="form-control"
              placeholder="Password
        "
            />
          </div>
          <div class="mb-3">
            <button class="btn btn-dark form-control">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
