<% layout("./layouts/boilerplate") -%>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <div class="card register-card">
      <div class="card-body">
        <h2 class="card-title text-center mb-3">Register</h2>
        <form
          action="/signup"
          method="POST"
          novalidate
          class="needs-validation"
        >
          <div class="mb-3">
            <input
              type="email"
              inputmode="email"
              name="email"
              required
              class="form-control"
              placeholder="Email"
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="text"
              name="username"
              required
              class="form-control"
              placeholder="Username"
              required
            />
          </div>

          <div class="mb-3">
            <input
              type="password"
              name="password"
              required
              class="form-control"
              placeholder="Password"
              required
            />
          </div>

          <div class="mb-3">
            <button class="btn btn-dark form-control">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
